/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .label {
    font-size: 1.4rem;
    margin-left: 3rem;
  }
  .header {
    font-weight: 700;
    margin: 4rem auto 3rem 3rem;
    font-size: 3rem;
    line-height: 1rem;
    letter-spacing: 0.12rem;
}
.button {
  color: #ffffff;
  background-color:  #357a38;
  height: 3.5rem;
  width: 8rem;
  font-size: 1.2rem;
  border-radius: .2rem;
}
.button:hover {
  background-color: #4caf50;
}

#refresh {
  margin-right: 1rem;
}

.title {
  height: 4rem;
  background-color: #4caf50;
}
.content {
  height: auto;
}
.close-button {
  position: absolute;
  color: #fff;
  top: .8rem;
  right: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
.dialog-content {
  align-self: center;
}

.card-details {
  display: flex;
}

.details-container {
display: flex;
justify-content: center;
}
.info-details {
  width: auto;
  margin-left: 0;
}
.text-field {
  width: 36rem;
  margin: 1rem .5rem 1rem 3rem;
  height: 3.5rem;
  border-radius: 0.2rem;
  border: 1px solid #357a38;
  padding: 1rem;
}
.text-field:hover {
  border-color: #4caf50;
}

.grid {
  min-height: 100%;
  max-width: 100rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 3rem;
}
.grid > div {
  flex-basis: calc(50% - 0rem);
}

.location {
  padding-top: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: gray;
  text-transform: uppercase;
}
.details {
  width: 18rem;
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
}
.reviews {
  color: gray;
  font-weight: 700;
  font-size: 1rem;
}
.description {
  width: 18rem;
  color: black;
  font-weight: 700;
  font-size: 1rem;
  padding-bottom: 1.5rem;
}
.description-details {
  margin-top: -5rem;
  width: 50rem;
  color: black;
  font-weight: 700;
  font-size: 2.2rem;
  padding-bottom: 1rem;
}
.price {
  color: black;
  font-weight: 700;
  font-size: 1rem;
  padding-right: 1rem;
}
.image {
  margin-right: 1rem;
  max-width: 21rem;
  max-height: 14rem;
  border-radius: 0.3rem;
  transition: all .5s ease; 
}
.image:hover {
  max-width: 22rem;
  max-height: 14rem;
}
.avatar{
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  object-position: center;
}
.image-detail {
  max-width: 45rem;
  max-height: 29rem;
  border-radius: 0.3rem;
  padding-right: 1rem;
}

.price-detail {
  color: #fff;
  position: relative;
  top: -1rem;
  left: 48rem;
  width: 6rem;
  height: 6rem;
  background-color: #4caf50;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
.price-text{
  font-size: 1.2rem;
  text-align: center;
  padding-top: 2.2rem;
}
.box {
  display: inline-flex;
  margin: 1rem 1.5rem 2rem 0;
  width: 44rem;
  height: 14rem;
  box-shadow: unset !important;
  cursor: pointer;
}
.box-details {
  display: flex;
  margin: 1rem 0rem;
  box-shadow: unset !important;
}
.button-container { 
  height: 12.5rem;
  position: relative;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.icon {
  color: orange;
}
.cont {
  margin: 3rem;
}
.text-container {
  display: flex;
  align-items: center;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  width: 50rem;
}
.owner-info {
  width: 20rem;
  display: -webkit-inline-flex;
}
.name{
  font-size: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 1.2rem;
}
.error {
  font-size: 5rem;
  color: red;
}
.center-buttons{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.button-ref {
  display: flex;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* breakpoints for mobile */
@media (min-width: 500px) and (max-width: 768px) {
  .title {
    height: 4rem;
  }
}

@media (max-width: 420px) {
  .button-ref {
    margin-bottom: 5rem;
}
  .button-container { 
    height: 20rem;
  }
  .title {
    height: 6rem;
  }
  .close-button {
    font-size: 3.5rem !important;
    top: 1.3rem;
    right: 1.5rem;
  }
  .details-container{
    height: 20rem;
    margin-bottom: 2rem;
  }
    .box-details {
      display: block;
      margin: 1rem 0rem;
      box-shadow: unset !important;
    }
    .image-detail {
      padding-bottom: 1rem;
      padding-right: 0;
    }
    .info-details{
      max-width: 44rem;
    }
    .description-details{
      width: 44rem;
      font-size: 2.3;
      font-weight: 600;
    }
    .price-detail{
      top: -7rem;
      left: 35rem;
      width: 9rem;
      height: 9rem;
    }
    .price-text{
      font-size: 2.2rem;
      padding-top: 3rem;
      margin-top: -4rem;
    }
    .name{
      font-size: 2rem;
      font-weight: 500;
      padding-top: 1.8rem;
      padding-left: 1.5rem;
    }
    .owner-info{
      width: 24rem;
      padding-top: .5rem;
    }
    .avatar{
      width: 7rem;
      height: 7rem;
    }
    .label {
      font-size: 2rem;
    }
    .text-field {
      width: 34rem;
      height: 4.5rem;
    }
    .center {
      top: 25%;
      transform: translate(50%, -50%);
    }
    .center-buttons{
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
    .cont {
      margin: 1rem -0.5rem;
      max-width: 27.5rem;
    }
    .box {
      flex-direction: column;
      align-items: center;
      margin-right: 1.5rem;
      height: 45rem;
    }
    .grid {
      flex-direction: column;
      margin-left: 3.5rem;
    }
    .image {
      max-width: 47rem;
      max-height: 30rem;
      border-radius: 0.5rem;
    }
    .info {
      width: 45rem;
      margin-left: 0;
    }
    
    .location {
      padding-top: .5rem;
      font-size: 2rem;
    }
    .description {
      width: 42rem;
      font-size: 2rem;
      padding-bottom: .5rem;
    }
    .details {
      padding-top: .2rem;
      display: flex;
      align-items: center;
      width: unset;
    }
    .price {
      font-size: 1.9rem;
      padding-right: 1rem;
    }
    .reviews {
      font-size: 1.8rem;
    }
    .button {
      width: 10rem;
      height: 4.5rem;
      font-size: 1.3rem;
      margin: 1rem;
    }
    .text-container {
      height: 4rem;
      margin-top: 0.8rem;
      margin-bottom: 4rem;
    }
}